    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p> Hello. My name is <b>Tapasweni Pathak </b>. 
	I’m working with <b>SAP Labs</b> as a <b>Software Developer</b>. I’m involved with open sources and write on <a href="https://www.quora.com/Tapasweni-Pathak" target="_blank">Quora</a>.  I write on about my work/<a href="http://tapasweni-pathak.github.io/Projects/" target="_blank">projects</a> on my <a href="https://tapaswenipathak.wordpress.com">blog</a>. Feel free to drop me a <a href="mailto:tapaswenipathak@gmail.com">mail</a> if you think I can help you with something.
</p>
            </div>
        </div>
    </section>
